.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 82vw;
    margin-right: 18vw;
    background-color: #ff9721;
}

.home img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin-top: 10%;
}

.home h1 {
    font-size: 3rem;
    color: #312858;
    margin-top: 1rem;
}

.home p {
    font-size: 1.2rem;
    color: #312858;
    margin-top: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}